{% extends 'base.html' %} {% block title %} Appointments {%endblock title %}
{%block content %}

{%if appointments%}
<div>
    <h1 class="color text-center text-uppercase font-2 py-4">
        Appointments
    </h1>

    <div class="container">
        <div class="row color font-2 text-center">
            {% for appointment in appointments %}
            <div class="col-lg-4 col-sm-2 px-2 py-3">Artist: {{appointment.artist.name}}</div>
            <div class="col-lg-4 col-sm-2 px-2 py-3">Tattoo Location: {{appointment.tattoo_location}}</div>
            <div class="col-lg-4 col-sm-2 px-2 py-3">Tattoo Size: {{appointment.tattoo_size}}</div>
            <div class="col-lg-4 col-sm-2 px-2 py-3">Tattoo Category: {{appointment.tattoo_category}}</div>
            <div class="col-lg-4 col-sm-2 px-2 py-3">Requested Appointment Time: {{appointment.appointment_at}}</div>
            <div class="col-lg-4 col-sm-2 px-2 py-3">Status:
                {% if appointment.status == 0 %}
                Pending
                {% elif appointment.status == 1 %}
                Accepted
                {% else %}
                Rejected
                {%endif%}
            </div>
            <div class="col-4 col-sm-2"></div>
        </div>
    </div>

    <div class="row font-2">
        <div class="col-md-6 col-sm-2 text-center">
            <div><a href="#" class="btn bg-btn-color-2 btn-xl text-uppercase mt-2">Edit</a></div>
        </div>
        <div class="col-md-6 col-sm-2 text-center">
            <div><a href="#" class="btn bg-btn-color btn-xl text-uppercase text-white my-2"><span>Delete</span></a></div>
        </div>
    </div>

        {%endfor%}
    {%else%}
    <div>
        <h1 class="color text-center text-uppercase font-2 py-4">
            No Appointments Found
        </h1>
        <div class="font-2 text-center py-3">
            <button><a href="{% url 'create_appointment' %}" class="btn bg-btn-color btn-xl text-uppercase text-white my-2">Request An Appointment</a></button>
        </div>
    </div>
</div>

{%endif%}
{%endblock %}